anndata @ file:///home/conda/feedstock_root/build_artifacts/anndata_1742996693987/work
anyio==4.6.2.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_array-api-compat_1742509526/work
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
biopython==1.84
black==24.10.0
bleach==6.1.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.2
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428302318/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing==2.1.0
fastjsonschema==2.20.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
flake8==7.1.1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1731643407718/work
fqdn==1.5.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1743437245292/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1733462551614/work
h11==0.14.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1739952266604/work
httpcore==1.0.6
httpx==0.27.2
idna==3.10
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.28.0
isoduration==20.11.0
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459255340/work
legacy-api-wrap @ file:///home/conda/feedstock_root/build_artifacts/legacy-api-wrap_1732284973256/work
llvmlite==0.44.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1743977042860/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mistune==3.0.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
mypy-extensions==1.0.0
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1744204356398/work
natsort @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_natsort_1733880463/work
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
notebook==7.2.2
notebook_shim==0.2.4
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1744232041647/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1732612810402/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1730588024163/work/dist/numpy-2.1.3-cp313-cp313-linux_x86_64.whl#sha256=3afc3896acd35a4cb4e82f6f2b36a5252a5f291108718002728cb49eff19531d
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1744034202416/work
overrides==7.7.0
packaging==24.1
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878403859/work
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1731432186484/work
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1729065618773/work
platformdirs==4.3.6
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1742240435426/work
pluggy==1.5.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1733236359728/work
pybind11 @ file:///D:/bld/pybind11-split_1730237329882/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1730237328107/work
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1734193530377/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1728880423364/work
PySide6==6.8.0.2
pytest==8.3.5
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1742948348/work
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.0
scanpy @ file:///opt/conda/conda-bld/scanpy_1617776436400/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1736496745920/work/dist/scikit_learn-1.6.1-cp313-cp313-linux_x86_64.whl#sha256=d95aa585d4be3c6fa9f19265162749c371f7a348da2578b142d9a17040c8d5c4
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1729480718346/work/dist/scipy-1.14.1-cp313-cp313-linux_x86_64.whl#sha256=88be36de954368a87a187393f53d31728c10cb6f0cbd4882ad33dfe77a7c0844
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
Send2Trash==1.8.3
setuptools==75.8.2
setuptools-scm @ file:///home/conda/feedstock_root/build_artifacts/setuptools_scm_1742403392659/work
shiboken6==6.8.0.2
sinfo @ file:///home/conda/feedstock_root/build_artifacts/sinfo_1597764960136/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986692822/work
stdlib-list @ file:///home/conda/feedstock_root/build_artifacts/stdlib-list_1739903779003/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1736248176451/work
tables @ file:///home/conda/feedstock_root/build_artifacts/pytables_1739464034269/work
terminado==0.18.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2==1.3.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1744233411441/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1724960710611/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
types-python-dateutil==2.9.0.20241003
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1739236149447/work
uri-template==1.3.0
urllib3==2.2.3
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
